{% extends "_layout/layout.twig" %}
{% block page %}
	<main
		id="main" data-module="faceMeshv2">
		{# <div class="mediapipe__container ">
					<div class="mediapipe__material-img active">
						<div class="tool__wrapper">
							<div class="tool__bar">
								<button id="btn-1">Start Scan</button>
							</div>
						</div>
						<img id="mediapipe-image-input" src="{{assets_url}}/mediapipe/multi-faces.jpg"/>
		
					</div>
					<div class="mediapipe__canvas">
						<div class="loading__wrapper" id="loading-1">
							<div class="loading__icon">Loadding...</div>
						</div>
		                <canvas id="canvas-input-image-1" width="1280px" height="720px"></canvas>
		            </div>
				</div>
				<div class="mediapipe__masks2d">
				<h4 style="color : #fff">Mask sample</h4>
					<img id="mediapipe-face-place-holder" src="{{assets_url}}/mediapipe/face-place-holder.png"/>
				</div>
				<div class="hidden">
					<img id="mediapipe-text-1" src="{{assets_url}}/mediapipe/text-banner-1.jpg"/>
					<img id="mediapipe-text-2" src="{{assets_url}}/mediapipe/text-banner-2.jpg"/>
				</div>
			</main> #}
		<div class="spark-ar__wrapper" id="sparkArWrapper">
			<div class="spark-ar__input">
				<div class="spark-ar__loading active" id="loading1"></div>
				{# <img class="spark-ar__input-media" src="{{assets_url}}/mediapipe/multi-faces.jpg" /> #}
				<video style="position : absolute; top :0; left : 0; height : 0; width : 0;" id="video-test" crossorigin="anonymous" playsinline muted controls>
					<source src="{{assets_url}}/mediapipe/shorts-face.mp4" type="video/mp4"/>
				</video>
				<canvas class="spark-ar__output-cv" id="canvas-output"></canvas>
			</div>
			<div class="spark-ar__effects">
				<div class="spark-ar__tabs">
					<div class="spark-ar__tabs-item">
						<img src="{{assets_url}}/mediapipe/thumb-glasses-1.jpg"/>
					</div>
					<div class="spark-ar__tabs-item active">
						<img src="{{assets_url}}/mediapipe/thumb-mask-1.jpg"/>
					</div>
					<div class="spark-ar__tabs-item">
						<img src="{{assets_url}}/mediapipe/thumb-hat-1.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden">
			<img id="mediapipe-face-place-holder" src="{{assets_url}}/mediapipe/face-place-holder.png"/>
		</div>
		<div class="hidden">
			<img id="mediapipe-text-1" src="{{assets_url}}/mediapipe/text-banner-1.jpg"/>
			<img id="mediapipe-text-2" src="{{assets_url}}/mediapipe/text-banner-2.jpg"/>
		</div>
		{% block before_js %}
			
		{% endblock %}
	{% endblock %}
